doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        table.table
            tr
                td.td
                td.td600
                    div.messageContainerBlock
                        div.message
                            include header.pug
                            include image.pug
                            include section.pug
                            include footer.pug
                td.td