section.messageSection
    div.messageSectionInfo.textLeft
        div.messageSectionInfoTitle Суббота,
        div.messageSectionInfoTitle 22 февраля 2020
        div.messageSectionInfoDescription Время заезда после 12:00
    div.messageSectionInfo.textRight
        div.messageSectionInfoTitle Понедельник,
        div.messageSectionInfoTitle 24 февраля 2020
        div.messageSectionInfoDescription Выезд в 10:00
section.messageSection
    div.messageSectionInfo
        div.messageSectionInfoTitle Категория номера
        div.messageSectionInfoDescription Стандарт
//- section.messageSection
//-     div.messageSectionInfo
//-         div.messageSectionInfoTitle Адрес и телефон
//-         div.messageSectionInfoDescription
//-             span.boldText Адрес: 
//-             span курорт Буковель, с. Поляница, урочище Вишня, 162-А
//-         div.messageSectionInfoDescription.withoutPadding
//-             span.boldText Телефон: 
//-             span +38 (0XX) XXX-XX-XX
section.messageSection
    div.messageSectionInfo
        div.messageSectionInfoTitle.flexRow
            span.noWrap Полная стоимость
            div.price.noWrap.textRight 1615 UAH