.noWrap {
    white-space: nowrap;
}

.boldText {
    font-weight: 600;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.price {
    width: 100%;
    white-space: nowrap;
}

.flexRow {
    display: flex;
}

.withoutPadding {
    padding: 0 !important;
}
