.messageFooter {
    width: 100%;
    padding-top: 36px;
    font-family: $messagefont;

    &Title {
        width: 100%;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        line-height: 23.4px;
        color: $footerTitleColor;
        padding-bottom: 10px;
    }

    &Description {
        width: 100%;
        color: $footerDescriptionColor;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: underline;
    }
}
