.messageHeader {
    &Title {
        font-family: $hotelfont;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 40px;
        color: $hotelNameColor;
    }

    &Description {
        &Title {
            font-family: $messagefont;
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            line-height: 23.4px;
            color: $titleTextColor;
            padding-bottom: 10px;
        }

        &Text {
            font-family: $messagefont;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 18.2px;
            color: $liteTextColor;
            padding-bottom: 20px;
        }
    }
}
