@import './reset.scss';
@import './custom.scss';
@import './variables.scss';
@import './header.scss';
@import './image.scss';
@import './section.scss';
@import './footer.scss';

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Montserrat:wght@600&display=swap');

body,
html {
    height: 100%;
    width: 100%;
}

.messageContainerBlock {
    padding: 15px;
}

.message {
    width: 600px;
    padding: 40px 56px 56px 56px;
    background-color: white;
}

a {
    text-decoration: none;
}

.table {
    background-color: $bodyBackgroundColor;
    width: 100%;
    height: 100%;
}

.td {
    width: 50%;
}

.td600 {
    width: 600px;
}