@mixin section-title {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24.38px;
    color: $sectionTitleColor;
}

@mixin section-description {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18.2px;
    color: $sectionDescriptionColor;
}

.messageSection {
    font-family: $messagefont;
    width: 100%;
    border-bottom: 1px solid $sectionBorderColor;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 20px;

    &:last-of-type {
        border: 0;
    }

    &Info {
        width: 100%;

        &Title {
            @include section-title();
        }

        &Description {
            padding-top: 12px;

            @include section-description();
        }
    }
}
