//colors
$hotelNameColor: #2d2d4b;
$bodyBackgroundColor: #e1e1e1;
$titleTextColor: #272841;
$liteTextColor: #5a566a;
$sectionTitleColor: #272727;
$sectionDescriptionColor: #656176;
$sectionBorderColor: #e6e7f2;
$footerTitleColor: #493e8f;
$footerDescriptionColor: #656176;

//fonts
$hotelfont: 'KoHo', sans-serif !important;
$messagefont: 'Montserrat', sans-serif !important;
